
body {
	color: rgb(34, 34, 34);
	font-family: 'Cereal Medium';
	margin: 0;
	font-size: 14px;
	letter-spacing: normal;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
}

button {
    border:none;
    background-color: transparent;
    font-family: 'Cereal Medium';
}

Link{
    border:none;
    background-color: transparent;
    font-family: 'Cereal Medium'; 
}