.ButtonHeaderHome--open{
    font-family: 'Cereal Medium';
    color: var(--grey-text-light);
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 8px 15px;
    
    &:hover{
        background-color: var(--grey-light);
        cursor: pointer;
    }
}

.ButtonHeaderHome--closed{
    position: relative;
    color: black;
    border: 1px solid transparent;

    &:after{        
        content: '';
        position: absolute;
        width: 60%;        
        top: 35px;
        left: 20%;
        border-bottom: 2px solid black;

    }
}

.ButtonHeaderHome--menu{
    background-color: var(--grey-med);
    border: 1px solid black;
    color: black;
}