.carousel__list__button__heart{
    max-width: 100%;
    aspect-ratio: 1.05;

    & img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    &:hover {
        cursor: pointer;
    }
}

.container__carousel__main{
    display: flex;
}