.ContainerComment{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    flex-direction: column;    
    textarea{
        height: 60px;
        width: 70%;
        margin-top: 10px;
        border-radius: 8px;
        border-spacing: 5px;
    }
}
.item{
    
    height: 20px;
    margin-top: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    border:none;
    input{
        border-radius: 8px;
        text-align: center;
    }
}

    .Btn {
      height: 35px;
      width: 20%;
      background-color: rgb(255, 56, 92);
      border: none;
      border-radius: 8px;
      color: white;
    }