@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;900&display=swap');

$subtitle-color: #5b5b5b;
$title-color: #3f3f3f;
$color-a: #22b8d9;
$color-b: rgb(41, 202, 103);
$font-weight: 400;
$font-selected-weight: 800;
$border-width: 2px;
$spacing: 30px;
$input-height: 45px;
$input-margin: 10px 0px;
$warning-color: rgb(235, 99, 99);

* {
  margin: 0;
  padding: 0;
}

.credit-card__body {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.credit-card__text {
  font-family: 'Open Sans';
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.credit-card__button {
  background-color: white;
  border: $border-width solid rgb(197, 197, 197);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  font-size: 1rem;
  font-weight: $font-selected-weight;
  letter-spacing: 1px;
  &:hover {
    background-color: $color-b;
    color: white;
    border: $border-width solid $color-b;
    cursor: pointer;
  }
  &-selected {
    background-color: $color-b;
    border: $border-width solid $color-b;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 1rem;
    font-weight: $font-selected-weight;
    letter-spacing: 1px;
  }
}

.credit-card__button-delete {
  background-color: white;
  color: $warning-color;
  border: $border-width solid $warning-color;
  border-radius: 6px;
  height: 30px;
  width: 100px;
  font-size: 0.8rem;
  font-weight: $font-selected-weight;
  &:hover:enabled {
    background-color: $warning-color;
    color: white;
    border: $border-width solid $warning-color;
    cursor: pointer;
  }
}
