@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;900&display=swap');

$subtitle-color: #5b5b5b;
$title-color: #3f3f3f;
$color-a: #22b8d9;
$color-b: rgb(41, 202, 103);
$font-weight: 400;
$font-selected-weight: 800;
$border-width: 2px;
$spacing: 30px;
$warning-color: rgb(235, 99, 99);

* {
  margin: 0;
  padding: 0;
}

.tutorship__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.tutorship__profile-body {
  font-family: 'Open Sans';
  box-sizing: border-box;
  padding: 30px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 50px;
}

.tutorship__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tutorship__form-slot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  input {
    box-sizing: border-box;
    padding: 0px 10px;
    padding-left: 10px;
    width: 100%;
    height: 54px;
    border: 1px solid $subtitle-color;
    text-align: left;
    margin: 20px 0;
    color: $subtitle-color;
    font-family: 1rem;
    font-family: 'Open Sans';
    font-weight: 600;
  }
  label {
    font-family: 'Open Sans';
    font-weight: 700;
    color: $subtitle-color;
  }
  .tutorship__form-description {
    font-family: 'Open Sans';
    font-weight: 600;
    color: $subtitle-color;
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    padding: 10px 10px;
    margin: 20px 0px;
    resize: none;
  }
  .tutorship__errors {
    color: $warning-color;
    margin-bottom: 20px;
  }
}

.tutorship__button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  margin-bottom: 30px;
}

.tutorship__button-submit {
  background-color: white;
  color: $color-b;
  border: $border-width solid $color-b;
  height: 40px;
  margin: 35px 0px 15px 0px;
  width: 100%;
  font-size: 1rem;
  font-weight: $font-selected-weight;
  letter-spacing: 1px;
  &:hover:enabled {
    background-color: $color-b;
    color: white;
    border: $border-width solid $color-b;
    cursor: pointer;
  }
  &:disabled {
    color: $subtitle-color;
    border: $border-width solid $subtitle-color;
  }
}

.tutorship__button-edit {
  background-color: white;
  color: $color-b;
  border: $border-width solid $color-b;
  height: 40px;
  margin: 35px 0px;
  width: 100%;
  font-size: 1rem;
  font-weight: $font-selected-weight;
  letter-spacing: 1px;
  &:hover:enabled {
    background-color: $color-b;
    color: white;
    border: $border-width solid $color-b;
    cursor: pointer;
  }
}

.tutorship__button-cancel {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 1px;
  background-color: white;
  color: $warning-color;
  border: $border-width solid $warning-color;
  text-align: center;
  height: 40px;
  font-size: 1rem;
  font-weight: $font-selected-weight;
  width: 100%;
  &:hover:enabled {
    background-color: $warning-color;
    color: white;
    border: $border-width solid $warning-color;
    cursor: pointer;
  }
}

@media (min-width: 992px) {
  .tutorship__body {
    width: 930px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin: 50px auto 30px auto;
  }

  .tutorship__profile-body {
    font-family: 'Open Sans';
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
  }

  .tutorship__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .tutorship__button-photo-disabled {
    margin-left: 30px;
    font-weight: 700;
    height: 40px;
    margin-top: 20px;
    font-size: 0.9rem;
    width: 180px;
  }

  .tutorship__button-container {
    flex-direction: row;
    margin-bottom: 0px;
  }

  .tutorship__button-submit {
    margin: 35px 0px;
    width: 100%;
  }

  .tutorship__button-cancel {
    margin: 35px 0px 10px 10px;
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .tutorship__body {
    width: 1130px;
  }
}

@media (min-width: 1400px) {
  .tutorship__body {
    width: 1330px;
  }
}
