.error__illustration {
  width: 90%;
  height: 70vh;
}

/* Tablets */

@media (min-width: 768px) {
  .error__illustration {
    width: 70%;
    height: 75vh;
  }
}
/* Monitores */

@media (min-width: 992px) {
  .error__illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 70vh;
  }
}
