.search__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 20px;
  min-height: 60vh;
}

@media (min-width: 992px) {
  .search__result {
    width: 780px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
  }
}
@media (min-width: 1200px) {
  .search__result {
    width: 1180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
  }
}
@media (min-width: 1400px) {
  .search__result {
    width: 1300px;
  }
}
