@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;500;600;700;900&display=swap');

$subtitle-color: #5b5b5b;
$title-color: #3f3f3f;
$color-a: #22b8d9;
$color-b: rgb(41, 202, 103);
$font-weight: 400;
$font-selected-weight: 800;
$spacing: 20px;
$primary-color-dark: #1a90aa;
$primary-color: #22b8d9;
$secondary-color: #ffffff;
$secondary-color-dark: #d3d3d3;
$alpha-background: #55555555;

.tutor-profile-menu-select {
  border: 1px solid $color-b;
  color: $color-b;
  font-size: 2rem;
  font-weight: 800px;
  width: 100%;
  margin: 10px;
  padding: 15px 0;
}

.tutor-profile-menu-option {
  height: 40px;
}

.tutor-profile-menu-select:focus {
  outline: none;
}

.tutor-profile-menu-list {
  list-style: none;
}

.tutor-profile-menu-list > a {
  text-decoration: none;
}

.tutor-profile-menu-item {
  display: flex;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  background-color: white;
  color: #5b5b5b;
  border: 1px solid #5b5b5b;
  text-align: left;
  padding-left: 20px;
  height: 54px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  cursor: pointer;
}

.tutor-profile-menu-item:hover {
  color: $color-b;
  font-weight: 800;
  border-color: $color-b;
  border-width: 2px;
}

.tutor-profile-menu-item.selected {
  font-family: 'Source Code Pro', monospace;
  text-align: left;
  padding-left: 20px;
  height: 54px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  transform: translateY(-3px);
  box-shadow: -5px 5px rgb(0 0 0 / 20%);
  border: 1px solid $color-b;
  background-color: $color-b;
  color: white;
  cursor: pointer;
  font-weight: 800;
}

.tutor-profile-menu.md {
  display: none;
}

.tutor-profile-menu-select {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 1px;
  background-color: white;
  color: $color-b;
  border: 2px solid $color-b;
  text-align: left;
  padding-left: 10px;
  height: 54px;
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 800;
  width: 100%;
  box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 15%);
  &:hover {
    cursor: pointer;
  }
}

@media screen and(min-width: 992px) {
  .tutor-profile__credentials {
    width: 100%;
  }

  .tutor-profile-menu-select.sm {
    display: none;
  }
  .tutor-profile-menu.md {
    width: 100%;
    display: block;
  }
}
