@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$select-color: rgb(41, 202, 103);
$color-a: #22b8d9;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card {
  border: 3px gray solid;
  width: 100%;
  height: 60vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Open Sans';
  cursor: pointer;
  user-select: none;
  color: #112031;
  margin-bottom: 15px;
}

.card:hover {
  border: 3px $select-color solid;
  box-shadow: -5px 5px rgba(0, 0, 0, 0.2);
}

.card-visual-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
  width: 45%;
  height: 95%;
  img {
    width: 25vw;
    height: 25vw;
    margin-top: 5px;
    margin-bottom: 5px;
    object-fit: cover;
    border-radius: 50%;
  }
  h1 {
    font-size: 3.5vw;
    text-align: center;
  }
  p {
    font-size: 3.5vw;
    text-align: center;
  }
}

.card-tutor-info {
  width: 52%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h2 {
    font-size: 4vw;
    margin: 0;
    text-align: center;
  }
  h3 {
    font-size: 3.5vw;
    font-style: italic;
    margin: 0;
    text-align: center;
  }
  p {
    font-size: 2.9vw;
    text-align: justify;
    width: 90%;
    height: 50%;
    overflow: hidden;
  }
}

.card-stars {
  width: 20vw;
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffb319;
  margin: 5px;
}

.price {
  color: $color-a;
  font-size: 4vw;
  font-weight: 600;
}

/* Tablets */

@media (min-width: 768px) {
  .card {
    width: 30rem;
    height: 20rem;
  }

  .card-visual-info {
    width: 45%;
    height: 95%;
    text-align: center;

    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    h1 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .card-tutor-info {
    margin: auto 0;
    width: 55%;
    height: 95%;
    text-align: center;
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.3rem;
    }
    p {
      width: 15rem;
      height: 9.5rem;
      font-size: 1rem;
    }
  }

  .card-stars {
    width: 7rem;
    font-size: 1.3rem;
  }
}

/* Monitores */
@media (min-width: 992px) {
  .card {
    width: 360px;
    height: 300px;
  }

  .card-visual-info {
    width: 45%;
    height: 95%;
    img {
      width: 8rem;
      height: 8rem;
      margin-bottom: 20px;
      margin-top: 0px;
    }
    h1 {
      font-size: 1rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .card-tutor-info {
    width: 55%;
    height: 95%;
    h2 {
      font-size: 1.2rem;
    }
    h3 {
      font-size: 1.1rem;
    }
    p {
      font-size: 0.9rem;
      width: 80%;
      height: 159px;
    }
  }

  .card-stars {
    width: 7rem;
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 390px;
    height: 320px;
  }
}
@media (min-width: 1400px) {
  .card {
    width: 420px;
    height: 320px;
  }
}
