.gradienthome{
    top: 80px;
    height: 150px;
    width: 100%;
}

.h1_host{
    padding: 80px;
    padding-bottom: 40px;

    &__h{        
        font-family: 'Cereal Medium';
        font-weight: 150;  
    }
}