.ChatArtist {
  padding: 3rem 2rem;
  margin: 0 auto;
  margin-top: 75px;
  max-width: 1200px;
  height: 80vh;
}

.chatContainer {
  display: flex;
  justify-content: flex-end;
}
.contactsContainer {
  min-width: 20rem;
  ul {
    list-style: none;
    overflow-y: auto;
    padding: 0;
  }
}
