.comments {
  p {
    margin: 0;
  }
  margin-bottom: 1rem;
}
.usersComment {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    margin-left: 1rem;
  }
}
.Commentscontainer {
  max-height: 20rem;
  overflow-y: auto;
}
.eachComment {
  margin-bottom: 1rem;
}
