.registerStepper {
  margin: 0 auto;
  margin-top: 6rem;
  max-width: 1200px;
  height: 100vh;
}
.contentStepper {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
